*{
    margin: 0%;
    padding: 0%; 
}

section{
    margin: 0%;
    padding: 0%;
    width: 100%;
    position: relative;
}

#secStart{
    background-color: black;
    min-height: 100vh;

}
#secAboutMe{
    background: #fdaead;
    min-height:100vh;
    word-wrap: normal;
    padding: 5%;
    
    
}
#secAboutMe p{
    margin-left: 5%;
    margin-right: 55%;
    margin-top: 5%;
    margin-bottom: 50%;

}
#secAboutMe img{
    width: 20%;
    height: 20%;
    margin-left: 50%;
}
.js{
    margin-right: 5%;
    margin-left: 20%;
}
.html{
    margin-right: 20%;
    margin-left: 5%;
}
.css{
    margin-right: 5%;
    margin-left: 20%;
}
.react{
    margin-right: 20%;
    margin-left: 5%;
}
.git{
    margin-right: 5%;
    margin-left: 20%;
}
.github{
    margin-right: 20%;
    margin-left: 5%;
}




.ht{
    margin: 3%;
    margin-left: 40%;

}
