html {
    scroll-behavior: smooth;  
}
{
    margin: 0%;
    padding: 0%; 
}

section{
    margin: 0%;
    padding: 0%;
    width: 100%;
    position: relative;
}


    
/*
.js{
    margin-right: 5%;
    margin-left: 20%;
}
.html{
    margin-right: 20%;
    margin-left: 5%;
}
.css{
    margin-right: 5%;
    margin-left: 20%;
}
.react{
    margin-right: 20%;
    margin-left: 5%;
}
.git{
    margin-right: 5%;
    margin-left: 20%;
}
.github{
    margin-right: 20%;
    margin-left: 5%;
}*/



