#secAboutMe{
    background: white;
    min-height:100vh;
    word-wrap: normal;
    padding: 5%;
    
    
}
#secAboutMe p{

margin-left: 40%;

margin-top: 30%;


}

#secAboutMe img{
    width: 20%;
    height: 20%;
    margin-left: 15%; 
    margin-top: 1%;
    

}
 h3 #typed-strings {
   margin-left: 30%;
   
}

