#secAboutMe{
    background: #fdaead;
    min-height:100vh;
    word-wrap: normal;
    padding: 5%;
    
    
}
#secAboutMe p{
position: relative;
margin-left: 45%;
margin-right: 5%;



    
    

}

#secAboutMe img{
    width: 20%;
    height: 20%;
    margin-left: 15%; 
    position: absolute;
    margin-top: 10%;

}
#secAboutMe h3{
    margin-bottom: 20%;
    text-align: center;
}
