#secContact{
    background:#fdaead;
    min-height: 100vh;
    word-wrap: normal;
    /*padding: 5%;*/
}
#secContact{
    height: 300px;
}
#secContact h3{
    text-align: center;
}
#secContact img{
    margin: 10%;
    margin-left: 18%;
    width: 60px;

}
.btn-secondary{
    position: fixed;
   margin-left: 80%;
   
}





    