#secAboutMe{
    background: white;
    min-height:100vh;
    word-wrap: normal;
    padding: 5%;
    
    
}
#description{
    display: flex;
    flex-direction: row;
    margin-top: 140px;

}
#image img{
    width: 60vh;
    border-radius: 10px 10px 10px 10px;
    
}
#image{
   margin-right: 50px;
}
 #me{
     margin-left: 400px;
     margin-top: 20px;
     font-size: 35px;
}
#presentation{
    -moz-text-align-last: auto;
}

