#secSkills{
    background:#fdaead;
    min-height: 100vh;
    word-wrap: normal;
    padding: 5%;
    
}


#secSkills h3{
    text-align: center;
    margin-bottom: 20%;

}
#secSkills img{
    margin-left: 8%;
    
}